body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #cdb4db;
    color: white;
    padding: 20px;
}

#details, #rsvp, #seating-chart {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #c77dff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9d4edd;
}
